*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
config
switch_pc_bedroom.yaml
switch_pc_livingroom.yaml
switch_pc_office.yaml
sensors.yaml
.uuid
.HA_VERSION