*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-wal
*.db-shm
*.log
*.db-journal
*.db
*.cfg
*.mp3
lib
deps
tts
secrets.yaml
known_devices.yaml
config
pc_switches.yaml
.uuid
.gitignore
.gitattributes
.HA_VERSION
shell/bedroom_pc_on.sh
shell/living_room_pc_on.sh
shell/waste_pickup_yard_waste.py
shell/waste_pickup_garbage_recycle.py
shell/update_ha.log
shell/waste_pickup_container.py
_Hot Commands.txt
shell/cec.sh
photo.jpg
shell/make_github_issue.py
shell/rogersusage.py
shell/gif_maker/*
www/camera_shots/drive1.gif
www/camera_shots/drive1_b.gif
shell/push_image.py
shell/rogers.txt
OZW_Log.txt
pyozw.sqlite
python_scripts/usage_time_remaining.py
custom_components/sensor/__pycache__/steam_online.cpython-35.pyc
python_scripts/make_github_issue.py
python_scripts/rogersusage.py
python_scripts/waste_pickup_container.py
python_scripts/waste_pickup_garbage_recycle.py
python_scripts/waste_pickup_yard_waste.py
