*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
config
pc_switches.yaml
.uuid
.gitignore
.gitattributes
.HA_VERSION
.db-shm
.db-wal
*.db-wal